<!DOCTYPE html>
<head> 
{% load static %}
  <title> </title>
<link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'index.js' %}" type="text/javascript">    </script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% csrf_token %}
{%block header %}
    <header>
      <img src="{% static 'img/menu.png' %}" class="menu"/> 
      <img src="{% static 'img/healthcare1.png' %}" class="icon"/> 
      <span>dHIP</span>
    </header>
{% endblock %}
    <section class="section1">
      <p align="center">Register for Decentralized Health Insurance plan in the USA</p>
     <ul>
       <div class ="sub-section">
       <li>Receive help to pay your medical expenses from a <b> trusted community pool</b></li>
       <li>See <b>instant </b> updates about what was paid for your behalf</li>
       <li>Get control of your <b>insurance plan</b>, with a single click</li>
      </div>
     </ul>
       <a href="#"><button class="start">GET STARTED</button></a>
    </section>
    <article class="article1">
      <h3>DHI helps you buy insurance premium in three steps</h3>
      <ul>
        <img src="{% static 'img/approval.png' %}"/>
      </ul>
      <ul>
        <li>Approval</li>
            <p class="arcticle1">
          Get approval to join a trusted poll by a community member
        </p>
        <img src="{% static 'img/metamask.jpg' %}"/>
        <li>Connect</li>
            <p class="article2">
         <button>Connect to your MetaMask Wallet</button> 
        </p>
        <img src="{% static 'img/money.png' %}"/>
        <li>Review</li>
            <p class="article3">
          Review your balances, expiration dates, and more.
        </p>
        <img src="{% static 'img/eth.png'%}"/>
      </ul>
    </article>

</body>
</html>
